.products-categories {
    margin: 15.4rem 0 16.8rem 0;
}

.ant-spin-dot.ant-spin-dot-spin {
    color: var(--color-orange) !important;
}

@media (max-width: 600px) {
    .products-categories {
        margin: 10rem 0 10rem 0;
    }
}

