.site-layout-background {
    padding: 24px 5px !important;
}

.container .ant-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.container .ant-table-thead>tr>th,
.container .ant-table-tbody>tr>td {
    flex: 1 1 auto;
    min-width: 150px;
    /* Adjust this to control the minimum width of columns */
    padding: 8px;
}

@media (max-width: 768px) {
    .container .ant-table {
        display: flex;
        flex-direction: column;
    }

    .container .ant-table-tbody>tr {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 10px solid #f5f5f5;
    }

    .container .ant-table-thead {
        display: none;
        /* Optionally hide the header for small screens */
    }

    .container .ant-table-tbody>tr>td {
        flex-basis: calc(50% - 16px);
        /* Adjust as needed for the desired layout */
        word-wrap: break-word;
    }

    .container .ant-table-tbody>tr>td::before {
        content: attr(data-label);
        display: block;
        font-weight: bold;
        margin-bottom: 4px;
    }
}