.product-wrapper {
    display: flex;
    gap: 7rem;
}

.go-back {
    margin-bottom: 5.6rem;
}

.products-container {
    margin-top: 8rem;
}

.product-action {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 4.7rem;
}

.product-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-300);
    width: 12rem;
    height: 4.8rem;
    color: #000;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.product-quantity .minus,
.product-quantity .plus {
    cursor: pointer;
    padding: .5rem;
}

.product-quantity .quantity {
    margin: 0 2.3rem;
}

.stock {
    margin: 2rem 0;
    opacity: .5;
}

.not-logged {
    font-weight: 700;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}



@media (max-width: 768px) {
    .go-back {
        margin-bottom: 2.4rem;
    }
    .products-container {
        margin-top: 2rem;
    }
}


