.custom-toast {
    font-family: 'Manrope', sans-serif !important;
    font-size: 1.4rem !important;
    font-weight: bold !important;
    letter-spacing: 1px;
}

.custom-toast-body {
    
}

.custom-toast-progress-bar {
    
}